.banner {
    width: 100%;
    position: relative;
    min-height: 664px;
}

.banner > img {
    width: 100%;
    background-size: cover;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.banner__content {
    position: relative;
    padding-top: 103px;
    z-index: 2;
}

.banner__title {
    max-width: 578px;
    font-family: Integral CF;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    text-align: left;
    color: #000000;
}

.banner__description {
    max-width: 545px;
    margin-top: 32px;
    font-family: Satoshi;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #00000099;
}

.banner__link {
    display: block;
    margin-top: 32px;
    max-width: 210px;
    border-radius: 62px;
    background: #000000;
    padding: 16px 54px;
    font-family: Satoshi;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    transition: .1s;
}

.banner__link:hover {
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #000000;
}

.banner__cards {
    margin-top: 48px;
    max-width: 596px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.banner__card {
    max-width: 172px;
}

.banner__card__number {
    font-family: Satoshi;
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
    text-align: left;
    color: #000000;
}

.banner__card__text {
    font-family: Satoshi;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #00000099;
    text-transform: capitalize;
}

.card__line {
    border: 1px solid #0000001A;
}